@model classProject.Models.Entites.PostIndexVm;

    <form asp-controller="Posts" asp-action="Index" method="get">
        <p>
            Title: <input type="text" name="SearchString" value="@Model.SearchString" />
            <input type="submit" value="Filter">
        </p>
    </form>

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Posts</h1>
        </div>
        <div class="col-3">
            <button class="btn-newpost">New Post</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <strong>
                 <!--Html.DisplayNameFor(model => model.Title)-->
                 Title
            </strong>
        </div>
        <div class="col-2">
            <strong>
                <!--Html.DisplayNameFor(model => model.CreationDate)-->
                Creation Date
            </strong>
        </div>
        <div class="col-2">
            <strong>
                <!--Html.DisplayNameFor(model => model.Status)-->
                Status
            </strong>
        </div>
    </div>
        @foreach (var item in Model.Posts)
        {
            <div class="row postrow">
                <div class="col-6">
                    @Html.DisplayFor(modelItem => item.Title)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(modelItem => item.Status)
                </div>
                <div class="col-2">
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                </div>
                <!--<<td>
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>-->
            </div>
        }
</div>  